/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: #292929;
    padding: 20px 10px;
  }
  
/* Style the header links */
.header a {
float: left;
color: #666f88;
text-align: center;
padding: 12px;
text-decoration: none;
font-size: 25px;
line-height: 25px;
border-radius: 4px;
}
  
/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header img.logo {
height: 50px;
width: auto;
}


/* Float the link section to the right */
.header-right {
float: right;
vertical-align: middle;

}